.signupContent {
    margin: 5rem auto;
    width: 40%;
    border: 2px solid #222222;
    border-radius: 6px;
    padding: 1rem 1.5rem;
    background-color: #fafafa;
    box-shadow: 2px 2px 6px #9c9c9c;
    color: #141414;
}

.signupContent form {
    display: flex;
    flex-direction: column;
}

.signupContent h2 {
    font-size: xx-large;
}

label {
    font-size: large;
    margin-bottom: 5px;
}

input {
    margin-bottom: 8px;
    appearance: none;
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 3px;
    font-size: medium;
}

.submit {
    margin: 10px 0;
    appearance: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    width: 80px;
    font-size: larger;
    background-color: #065f46;
    color: #fafafa;
}

.submit:hover {
    cursor: pointer;
    background-color: #0c7255;
}